* {
    padding: 0;
    margin: 0;
    font-family: muli;
}

.ui-widget {
    margin-top: 15px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    text-align: center;
    color:#3F3F3F;
    display: inline;
    font-size: 14px;
    border-color: #3F3F3F;
    border-style: solid;
    border-radius: 2px;
    font-weight: 500;
}

.ui-widget input {
    display: inline-block;
    width: 400px;
}

.ui-widget label {
    display: inline-block;
    text-align: center;

}

.wrapper {
    width: 972px;
    margin: auto;
}

.sect-reqs {
    width: 300px;
    border-radius: 10px 10px 0 0;
    border: 2px solid #92CCF6;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
}

.sect-reqs li {
    height: 70px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
}


.sect-header {
    padding: 5px;
    background-color: #92CCF6;
    color: #FFFFFF;
}

.validation-check {
    width: 20px;
    height: 20px;
    background-color: #DCDCDC;
    display: inline-block;
    position: absolute;
    right: 20px;
    border-radius: 2px;
}

.semester-select {
    width: 60px;
    height: 20px;
    background-color: #DCDCDC;
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 25px;
    border-radius: 2px;
    font-size: 15px;
    display: none;
}

    

.class-input-field {
    border: 1px solid gray;
    border-radius: 3px;
}

.req-single, .req-input {
    position: relative;
    width: 300px;
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #3F3F3F;
    font-size: 20px;
}

.req-single {
    padding-top: 22px;
}

.req-input {
    padding-top: 8px;
}

.req-single .validation-check {
    margin-top: 3px;
}

.req-input .validation-check {
    margin-top: -35px;
}

.req-input input {
    margin-top: 6px;
}

.req_link {
    cursor: pointer;
}

.req_link:hover {
    text-decoration: underline;
}

#view-schedule {
    display: none;
    padding: 4px;
    border-radius: 3px;
    border: 0;
    background: #DCDCDC;
}



